@fa-font-path:   "../font";
// font sizes
$html-fontSize: 62.5%;
$base-font: 1.6rem;

// Font Family
$fontCentury: Century Gothic, sans-serif;
$fontVerdana:Verdana,sans-serif;;
$fontQuicksand:Quicksand;




//anchos
$width: 100%;
$max-width: 960px;

$widthpercent:900px;
$widthsix:600px;
$width480:480px;
$width375:375px;
$widthMini:320px;

// Colores

$black:#000000;
$white:#FFFFFF;
$textBody:#333333;
$blueColor:#232055;

//logo colors
$purpleLogo:#67087b;
$purple:#95389a;
$fucsia:#b22873;
$yellow:#fec125;
$lightBlue:#03A9F4;
$deepPink:#FF1493;

//others
$fucsiaLight:#b93d81;
$pinkLight:#ff2b9d;
$purpleLight:#9f4ba4;

$grayLight:#e6e6e6;
$servicesBackground:#dadada;
$backgroundGray:#eeeeee;


// colores de la navegación
$hoverGray:#323232;


// borde de contacto y skills
$borderGray:#c1c1c1;

